name: Release Helm Charts

on:
  workflow_call:
    secrets:
      oci_password:
        description: OCI registry password.
        required: false
    inputs:
      chart_dir:
        description: Directory containing the charts to validate.
        type: string
        required: false
        default: charts
      helm_repos:
        description: List of Helm repos to install; as a comma separated list in the format `<name>=<address>`.
        type: string
        required: false
        default: ""
      release_name_version_prefix:
        description: Prefix for the release name version.
        type: string
        required: false
        default: ""
      release_as_latest:
        description: If the release should be created as latest.
        type: boolean
        required: false
        default: true
      release_notes:
        description: If the release notes should be created from a CHANGELOG.
        type: boolean
        required: false
        default: false
      publish_gh_pages:
        description: If the chart should be released to the current repository's GH Pages.
        type: boolean
        required: false
        default: true
      publish_oci:
        description: If the chart should be released to an OCI registry.
        type: boolean
        required: false
        default: false
      oci_registry:
        description: OCI registry to publish the charts to.
        type: string
        required: false
        default: "ghcr.io"
      oci_username:
        description: OCI registry username.
        type: string
        required: false
        default: ${{ github.actor }}
      oci_repository_prefix:
        description: OCI repository prefix, will default to the current repository name.
        type: string
        required: false
        default: ${{ github.repository }}
      artifact_hub_config_file:
        description: Name of the Artifact Hub repository configuration file.
        type: string
        required: false
        default: artifacthub-repo.yaml
      ah_lint:
        description: If the Artifact Hub linter should be run.
        type: boolean
        required: false
        default: true

jobs:
  check:
    name: Check releasable charts
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      release: ${{ steps.charts.outputs.release }}
      matrix: ${{ steps.charts.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install YQ
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        with:
          github_token: ${{ github.token }}
          owner: mikefarah
          repository: yq
          extract: false
          filename_format: "{name}_{os}_{arch}"
          check_command: yq --version
          version: latest

      - name: Check for Helm charts to release
        id: charts
        run: |
          set -euo pipefail

          release_name_version_prefix="${{ inputs.release_name_version_prefix }}"

          release_charts=""

          for chart_dir in ./${{ inputs.chart_dir }}/*
          do
            if [[ -d "${chart_dir}" ]]
            then
              chart="$(basename "${chart_dir}")"
              released_version="$(git tag -l --sort version:refname "${chart}-*" | tail -n 1 | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+' || true)"
              current_version="$(yq eval '.version' "./${{ inputs.chart_dir }}/${chart}/Chart.yaml")"

              if [[ "${current_version}" != "${released_version}" ]] && [[ -z "$(git tag -l "${chart}-${release_name_version_prefix}${current_version}")" ]]
              then
                echo "Chart: ${chart}, Released version: ${released_version}, Current version: ${current_version}"
                release_charts="${release_charts}${chart},"
              fi
            fi
          done

          if [[ -n "${release_charts}" ]]
          then
            echo "release=true" >> "${GITHUB_OUTPUT}"
          else
            echo "release=false" >> "${GITHUB_OUTPUT}"
          fi

          echo "matrix=$(jq -Rrc 'split(",")' <<< "${release_charts%,}")" >> "${GITHUB_OUTPUT}"

  release:
    name: Release Helm charts
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    defaults:
      run:
        shell: bash
    needs: check
    if: ${{ needs.check.outputs.release == 'true' }}
    strategy:
      max-parallel: 1
      matrix:
        chart: ${{ fromJson(needs.check.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Install YQ
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        with:
          github_token: ${{ github.token }}
          owner: mikefarah
          repository: yq
          extract: false
          filename_format: "{name}_{os}_{arch}"
          check_command: yq --version
          version: latest

      - name: Install MDQ
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: inputs.release_notes
        with:
          github_token: ${{ github.token }}
          owner: yshavit
          repository: mdq
          arch_amd64: x64
          filename_format: "{name}-{os}-{arch}.{ext}"
          check_command: mdq --version
          version: latest

      - name: Install Artifact Hub CLI
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: ${{ inputs.ah_lint }}
        with:
          github_token: ${{ github.token }}
          owner: artifacthub
          repository: hub
          name: ah
          check_command: ah version
          version: latest

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: latest

      - name: Configure Helm repos
        if: ${{ inputs.helm_repos }}
        run: |
          set -euo pipefail

          repos="${{ inputs.helm_repos }}"
          for repo in ${repos//,/ }
          do
            helm repo add "${repo%=*}" "${repo#*=}"
          done

      - name: Install chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          install_only: true

      - name: Configure Git
        run: |
          set -euo pipefail
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Get chart version
        id: chart_version
        run: |
          set -euo pipefail
          echo "version=$(yq eval '.version' './${{ inputs.chart_dir }}/${{ matrix.chart }}/Chart.yaml')" >> "${GITHUB_OUTPUT}"

      - name: Get changelog entry
        uses: mindsers/changelog-reader-action@32aa5b4c155d76c94e4ec883a223c947b2f02656 # v2.2.3
        id: changelog_reader
        if: inputs.release_notes
        with:
          path: ./${{ inputs.chart_dir }}/${{ matrix.chart }}/CHANGELOG.md
          version: v${{ steps.chart_version.outputs.version }}

      - name: Package chart
        id: package
        run: |
          set -euo pipefail

          package_dir="./.cr-release-packages"
          mkdir -p "${package_dir}"

          release_notes_file="RELEASE.md"

          if [[ "${{ inputs.release_notes }}" == "true" ]]; then
            release_notes_path="./${{ inputs.chart_dir }}/${{ matrix.chart }}/${release_notes_file}"

            cat <<"EOF" > "${release_notes_path}"
          ${{ steps.changelog_reader.outputs.changes }}
          EOF

            added="$(mdq --output plain '# Added | -' <"${release_notes_path}" || true)"
            changed="$(mdq --output plain '# Changed | -' <"${release_notes_path}" || true)"
            deprecated="$(mdq --output plain '# Deprecated | -' <"${release_notes_path}" || true)"
            removed="$(mdq --output plain '# Removed | -' <"${release_notes_path}" || true)"
            fixed="$(mdq --output plain '# Fixed | -' <"${release_notes_path}" || true)"
            security="$(mdq --output plain '# Security | -' <"${release_notes_path}" || true)"

            changes_path="./${{ inputs.chart_dir }}/${{ matrix.chart }}/changes.txt"
            rm -f "${changes_path}"

            old_ifs="${IFS}"
            IFS=$'\n'

            for item in ${added}; do
              printf -- '- kind: added\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${changed}; do
              printf -- '- kind: changed\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${deprecated}; do
              printf -- '- kind: deprecated\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${removed}; do
              printf -- '- kind: removed\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${fixed}; do
              printf -- '- kind: fixed\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${security}; do
              printf -- '- kind: security\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            IFS="${old_ifs}"

            if [[ -f "${changes_path}" ]]; then
              changes="$(cat "${changes_path}")" yq eval --inplace '.annotations["artifacthub.io/changes"] |= strenv(changes)' "./${{ inputs.chart_dir }}/${{ matrix.chart }}/Chart.yaml"
              rm -f "${changes_path}"
            fi
          fi

          if [[ "${{ inputs.ah_lint }}" == "true" ]]; then
            ah lint --kind helm --path "./${{ inputs.chart_dir }}" || exit 1
          fi

          cr package --package-path="${package_dir}" ./${{ inputs.chart_dir }}/${{ matrix.chart }}

          echo "path=${package_dir}/${{ matrix.chart }}-${{ steps.chart_version.outputs.version }}.tgz" >> "${GITHUB_OUTPUT}"
          echo "release_notes_file=${release_notes_file}" >> "${GITHUB_OUTPUT}"

      - name: Create chart GH release
        run: |
          set -euo pipefail

          package_dir="$(dirname ${{ steps.package.outputs.path }})"
          release_name_template="{{ .Name }}-${{ inputs.release_name_version_prefix }}{{ .Version }}"

          cr upload --token=${{ github.token }} --owner=${{ github.repository_owner }} --git-repo=${{ github.event.repository.name }} --commit=${{ github.sha }} --package-path="${package_dir}" --release-name-template="${release_name_template}" --release-notes-file=${{ steps.package.outputs.release_notes_file }} --make-release-latest=${{ inputs.release_as_latest }}

      - name: Login to OCI registry
        if: inputs.publish_oci
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ inputs.oci_registry }}
          username: ${{ inputs.oci_username }}
          password: ${{ secrets.oci_password || github.token }}

      - name: Install Crane
        if: inputs.publish_oci
        uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4

      - name: Install ORAS
        if: inputs.publish_oci
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        with:
          github_token: ${{ github.token }}
          owner: oras-project
          repository: oras
          check_command: oras version
          version: latest

      - name: Configure OCI repository
        id: oci
        if: inputs.publish_oci
        run: |
          set -euo pipefail

          oci_repository="${{ inputs.oci_registry }}/${{ inputs.oci_repository_prefix }}/${{ matrix.chart }}"

          ah_config_path="./${{ inputs.chart_dir }}/${{ matrix.chart }}/${{ inputs.artifact_hub_config_file }}"

          if [[ -f "${ah_config_path}" ]]
          then
            date_epoch="$(git log -1 --format='%ct' "${ah_config_path}")"
            created_date="$(date -u --date="@${date_epoch}" "+%Y-%m-%dT%H:%M:%SZ" 2>/dev/null)"

            image_config_path="$(mktemp)"
            echo "{}" > "${image_config_path}"

            media_type="application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml"
            oci_image="${oci_repository}:artifacthub.io"

            oras push --annotation "org.opencontainers.image.created=${created_date}" --config "${image_config_path}:application/vnd.cncf.artifacthub.config.v1+yaml" "${oci_image}" "${ah_config_path}:${media_type}"
          fi

          {
            echo "repository=${oci_repository}"
          } >> "${GITHUB_OUTPUT}"

      - name: Install Cosign
        if: inputs.publish_oci
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Publish chart to OCI repository
        id: publish_oci
        if: inputs.publish_oci
        run: |
          set -euo pipefail

          oci_repository="${{ steps.oci.outputs.repository }}"
          oci_image="${oci_repository}:${{ steps.chart_version.outputs.version }}"

          helm registry login --username ${{ github.actor }} --password ${{ github.token }} "${{ inputs.oci_registry }}"
          helm push ${{ steps.package.outputs.path }} "oci://$(dirname "${oci_repository}")"

          digest="$(crane digest "${oci_image}")"
          cosign sign --yes "${oci_image}@${digest}"

          {
            echo "image=${oci_image}"
            echo "digest=${digest}"
          } >> "${GITHUB_OUTPUT}"

      - name: Attest OCI image
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ${{ steps.oci.outputs.repository }}
          subject-digest: ${{ steps.publish_oci.outputs.digest }}
          push-to-registry: true

      - name: Publish chart to GH Pages
        if: inputs.publish_gh_pages
        run: |
          set -euo pipefail

          index_dir="./.cr-index"
          mkdir -p "${index_dir}"

          package_dir="$(dirname ${{ steps.package.outputs.path }})"

          cr index --token=${{ github.token }} --push --owner=${{ github.repository_owner }} --git-repo=${{ github.event.repository.name }} --package-path="${package_dir}" --index-path="${index_dir}/index.yaml"
